@import url('https://fonts.googleapis.com/css2?family=B612:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');


:root {
    /* Font Family */
    --font-primary: 'B612', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;
    /* Font Color */
    --color: #FFF;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: var(--color);
}

body {
    background-image: url("../images/fundo-loki.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

/* Header Start */

.content-header {
    max-width: 500px;
    min-height: 100px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    line-height: 100px;
}

h1 {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 96px;
}

h2 {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 20px;
}

/* Header End */



/* Content-center Start */

.container {
    max-width: 1000px;
    min-height: 300px;
    margin: 250px auto;
    padding: 0px 20px;
    display:flex;
    gap: 70px;
}

p {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 400;
}

.avaliation-movie {
    display: flex;
    justify-content: space-between;
    font-size: 33px;
    margin-top: 40px;
}

.star-movie .star-gold {
    color: #FFA800;
}

.star-movie .star-empty {
    color: rgba(255, 255, 255, 0.5);
}

.button-options {
    display:flex;
    gap: 15px;
    margin-top: 40px;
}

.style-button {
    width: 150px;
    padding: 10px 10px;
    font-family: var(--font-secondary);
    font-size: 14px;
    font-weight: 700;
    background-color: #0072D2;
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
}

.button-options .button-trailer {
    width: 90px;
    background-color: #131318;
    border: 1px solid #FFF;
}

.button-options .style-button:hover {
    background-color: #0987ee;
} 

.button-options .button-trailer:hover {
    background-color: #040405;
}


/* Content-center End */



/* Mobile Start */



/* Mobile End */
